body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 4rem;
  color: #3A3845;
  line-height: 1;
  margin: 0;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #243D25;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #00ADB5;
}
a{
  color: #11999E;

}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-top-width: 5px;
  width: 5%;

}
/******************************************************Class********************************************************************/
.topContainer{
  background-color: #97DBAE;
  padding-top:100px;
  position: relative;
}
.contact-me{
  width:50%;
  margin: auto;
  line-height: 2;
  margin-bottom: 100px;
}
.bottom-container{
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 40px;
}
.middle-container{
  padding-top: 100px;
}
.bot-cloud{
  position: absolute;
  left:300px;
  bottom: 300px;
}
.top-cloud{
  position:absolute;
  right:250px;
  top:52px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.skills{
  padding-top: 50px;

}
.java{
  width: 25%;
  margin-right: 30px;
  float:left;
}
.html{
  width: 25%;
  float : right;
  margin-left: 30px;
}
.css{
  width:25%;
  float: left;
  margin-right: 30px;
}
.sql{
  width:25%;
  float : right;
  margin-left: 30px;
}
.profile{
  width: 60%;
  margin:auto;
  line-height: 2;
  padding-bottom: 50px;
}
.btn{
   background: #11cdd4;
   background-image: -webkit-linear-gradient(#11cdd4, #11999e);
   background-image: -o-linear-gradient(#11cdd4, #11999e);
   background-image: linear-gradient(#11cdd4, #11999e);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   font-family: Georgia;
   color: #fff;
   font-size: 25px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   margin-right: 20px;
}

.btn:hover{
   background: #3cb0fd;
   background-image: -webkit-linear-gradient(#3cb0fd, #2bc4ad);
   background-image: -o-linear-gradient(#3cb0fd, #2bc4ad);
   background-image: linear-gradient(#3cb0fd, #2bc4ad);
   text-decoration: none;
}
.man{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.footer-link{
    color: #11999E;
    margin-right: 20px;
    text-decoration: none;
}
.footer-link:hover{
  color:#EAF6F6;
}
